<body style="text-align: center;">
    
    <div style="border: solid 1px blue; width: 80vw; ; text-align: center;">
    
        <h1 style="text-decoration: underline blue;">Nueva reserva!!</h1>
        
        
        <h3>Deporte: {{ sport_res }}</h3>
        <h3>Cancha: {{ court_res }}</h3>
        <h3>Tarifa: {{ rate_res }} (ha sido abonado el 50%) </h3>
        <h3>Dia: {{ day_shift }}</h3>
        <h3>Horario: {{ shift_res }}</h3>
        <h3>Jugador: {{ player_res }}</h3>
    
    
    </div>
</body>