{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  
<div class="container">
    <div class="row">
        <div class="col text-center d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  <h4>Reservation information</h4>
                </div>
                <form action="{% url 'canchas:reservation2' shift.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body text-center d-flex justify-content-center">                        
                        
                       {{form.as_p}}              
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Reservar</button>
                    </div>
                </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal: editar Passanger-->






{% endblock content %}