{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
  
<div class="container">
    <div class="row">
        <div class="col text-center d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                  <h4>Reservation information</h4>
                </div>
                <form action="{% url 'canchas:reservation2' shift.id %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-body text-center d-flex justify-content-center">
                        
                        
                       <table>
                        <tr class="border-bottom my-2">
                            <td><label for="sport_res">Deporte:</label></td>
                            <td>{{ form.sport_res.value|default:shift.court_shift.sport_court.name }}</td>
                        </tr>
                        <tr class="border-bottom my-2">
                            <td><label for="court_res">Cancha:</label></td>
                            <td>{{ form.court_res.value|default:shift.court_shift.name_court }}</td>
                        </tr>

                        <tr class="border-bottom my-2">
                            <td><label for="shift_res">Hora:</label></td>
                            <td>{{ form.shift_res.value|default:shift.hour }}</td>
                        </tr>
                        
                        <tr class="border-bottom my-2">
                            <td><label for="player_res">Hora:</label></td>
                            <td>{{ form.player_res.value|default:player.username }}</td>
                        </tr>
                       </table>
                        
                        
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary">Reservar</button>
                    </div>
                </form>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal: editar Passanger-->






{% endblock content %}